@model ClientWeb.Models.DataModels.ChangePasswordBindingModel
<section class="dashboard-menu dashboard-menu-2 light-blue">
    @Html.Action("SpecialMenu", "Utility", new { CurrentState = "ChangePassword", lang = ViewBag.lang })
</section>
<section class="dashboard light-blue">
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-sm-12 col-xs-12 col-md-push-8">
                @Html.Action("UserIntroduction", "Utility")
            </div>
            <div class="col-md-8 col-sm-8 col-xs-12 col-md-pull-4">
                <div class="dashboard-main-disc">
                    <div class="heading-inner">
                        <p class="title">ویرایش کلمه عبور</p>
                    </div>
                    <div class="row">
                        @using (Html.BeginForm("ChangePassword", "Account", null, FormMethod.Post, null))
                        {
                            @Html.AntiForgeryToken()
                            <div class="col-md-12 col-sm-12">
                                <div class="form-group">
                                    <label>کلمه عبور فعلی<span class="required">*</span></label>
                                    @Html.TextBoxFor(model => model.OldPassword, new { @class = "form-control", type = "password", placeholder = "کلمه عبور فعلی را وارد کنید" })
                                </div>
                            </div>
                            <div class="col-md-6 col-sm-12">
                                <div class="form-group">
                                    <label>کلمه عبور جدید<span class="required">*</span></label>
                                    @Html.TextBoxFor(model => model.NewPassword, new { @class = "form-control", type = "password", placeholder = "کلمه عبور جدید را وارد کنید" })
                                </div>
                            </div>
                            <div class="col-md-6 col-sm-12">
                                <div class="form-group">
                                    <label>تکرار کلمه عبور جدید<span class="required">*</span></label>
                                    @Html.TextBoxFor(model => model.ConfirmPassword, new { @class = "form-control", type = "password", placeholder = "مجددا کلمه عبور جدید را وارد کنید" })
                                </div>
                            </div>
                            <div class="col-md-12 col-sm-12">
                                @if (ViewBag.Alert != null)
                                {
                                <div style="padding: 0 10px;" class="alert alert-@(ViewBag.Alert.Split(',')[1])" role="alert">
                                    <p>@(ViewBag.Alert.Split(',')[0])</p>
                                </div>
                                }
                                <button class="btn btn-default pull-right flip"><i class="fa fa-edit"></i>ویرایش</button>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
