@{ 
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
    <!--[if IE]>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <![endif]-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="ScriptsBundle">
    <title>404 </title>
    <link rel="icon" href="@TempData["WebsiteThemePath"]DefaultContent/brand.png" type="image/x-icon">
    <!-- BOOTSTRAPE STYLESHEET CSS FILES -->
    <link rel="stylesheet" href="@TempData["WebsiteThemePath"]rtl/css/bootstrap.min.css">
    <link rel="stylesheet" href="@TempData["WebsiteThemePath"]rtl/css/bootstrap-rtl.min.css">
    <!-- JQUERY SELECT -->
    <link href="@TempData["WebsiteThemePath"]rtl/css/select2.min.css" rel="stylesheet" />
    <!-- JQUERY MENU -->
    <link rel="stylesheet" href="@TempData["WebsiteThemePath"]rtl/css/bootstrap-dropdownhover.css">
    <!-- ANIMATION -->
    <link rel="stylesheet" href="@TempData["WebsiteThemePath"]rtl/css/animate.min.css">
    <!-- OWl  CAROUSEL-->
    <link rel="stylesheet" href="@TempData["WebsiteThemePath"]rtl/css/owl.carousel.css">
    <link rel="stylesheet" href="@TempData["WebsiteThemePath"]rtl/css/owl.style.css">
    <!-- TEMPLATE CORE CSS -->
    <link rel="stylesheet" href="@TempData["WebsiteThemePath"]rtl/css/style.css">
    <!-- RTL CSS -->
    <link rel="stylesheet" href="@TempData["WebsiteThemePath"]rtl/css/rtl.css">
    <!-- MOBILE MENU CSS -->
    <link href="@TempData["WebsiteThemePath"]rtl/css/meanmenu.min.css" rel="stylesheet">
    <!-- FONT AWESOME -->
    <link rel="stylesheet" type="text/css" href="@TempData["WebsiteThemePath"]rtl/css/font-awesome.min.css">
    <link rel="stylesheet" href="@TempData["WebsiteThemePath"]rtl/css/et-line-fonts.css" type="text/css">
    <link rel="stylesheet" type="text/css" href="@TempData["WebsiteThemePath"]rtl/fonts/classified/flaticon.css">
    <!-- Google Fonts -->
    <link href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,900%7cOpen+Sans:400,600,700" rel="stylesheet" type="text/css">
    <!-- Theme Color -->
    <link rel="stylesheet" id="color" href="@TempData["WebsiteThemePath"]rtl/css/colors/defualt.css">
    <!-- For Style Switcher -->
    <link rel="stylesheet" id="theme-color" type="text/css" href="#" />
    <!-- JavaScripts -->
    <script src="@TempData["WebsiteThemePath"]rtl/js/modernizr.js"></script>
</head>
<body class="rtl">
    <div class="page">
        <div id="spinner">
            <div class="spinner-img">
                <img alt="AdZone Preloader" src="@TempData["WebsiteThemePath"]rtl/images/loader.gif" />
                <h2>لطفا صبر کنید ...</h2>
            </div>
        </div>
        <section class="text-center">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <img src="@TempData["WebsiteThemePath"]rtl/images/404.png" alt="error page" class="img-responsive center-block">
                        <p>دسترسی غیر مجاز !</p>
                        <a href="@Url.Action("Index","Home")" class="btn btn-default text-center">بازگشت به خانه</a>
                    </div>
                </div>
            </div>
        </section>
        <!-- JAVASCRIPT JS  -->
        <script type="text/javascript" src="@TempData["WebsiteThemePath"]rtl/js/jquery-3.1.1.min.js"></script>
        <!-- JQUERY MIGRATE  -->
        <script type="text/javascript" src="@TempData["WebsiteThemePath"]rtl/js/jquery-migrate-1.2.1.min.js"></script>
        <!-- BOOTSTRAP CORE JS -->
        <script type="text/javascript" src="@TempData["WebsiteThemePath"]rtl/js/bootstrap.min.js"></script>
        <!-- JQUERY SELECT -->
        <script type="text/javascript" src="@TempData["WebsiteThemePath"]rtl/js/select2.min.js"></script>
        <!-- MEGA MENU -->
        <script type="text/javascript" src="@TempData["WebsiteThemePath"]rtl/js/bootstrap-dropdownhover.js"></script>
        <!-- JQUERY EASING -->
        <script type="text/javascript" src="@TempData["WebsiteThemePath"]rtl/js/easing.js"></script>
        <!-- JQUERY COUNTERUP -->
        <script type="text/javascript" src="@TempData["WebsiteThemePath"]rtl/js/counterup.js"></script>
        <!-- JQUERY WAYPOINT -->
        <script type="text/javascript" src="@TempData["WebsiteThemePath"]rtl/js/waypoints.min.js"></script>
        <!-- JQUERY REVEAL -->
        <script type="text/javascript" src="@TempData["WebsiteThemePath"]rtl/js/footer-reveal.min.js"></script>
        <!-- Owl Carousel -->
        <script type="text/javascript" src="@TempData["WebsiteThemePath"]rtl/js/owl-carousel.js"></script>
        <!-- MOBILE MENU JS -->
        <script type="text/javascript" src="@TempData["WebsiteThemePath"]rtl/js/jquery.meanmenu.js"></script>
        <!--Style Switcher -->
        <script src="@TempData["WebsiteThemePath"]rtl/js/color-switcher.js"></script>
        <!-- CORE JS -->
        <script type="text/javascript" src="@TempData["WebsiteThemePath"]rtl/js/custom.js"></script>
    </div>
</body>
</html>
