@model ClientWeb.Models.DataModels.ItemNew
<link rel="stylesheet" href="@TempData["WebsiteThemePath"]rtl/css/slick.css">
<section class="dashboard-menu dashboard-menu-2 light-blue">
    @Html.Action("SpecialMenu", "Utility", new { CurrentState = ViewBag.CurrentState, lang = ViewBag.lang })
</section>
<section class="dashboard light-blue">
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-sm-12 col-xs-12 col-md-push-8">
                @Html.Action("UserIntroduction", "Utility")
            </div>
            <div class="col-md-8 col-sm-12 col-xs-12 col-md-pull-4">
                <div class="dashboard-main-disc">
                    <div class="heading-inner">
                        <p class="title">جزئیات آیتم (@Model.Name)</p>
                    </div>
                    <div style="padding: 0 10px;" class="alert alert-@(Model.SubmitedState=="Accepted"?"success":Model.SubmitedState=="Seen"?"info":Model.SubmitedState=="Sent"?"info":Model.SubmitedState=="Reject"?"danger":"warning")" role="alert">
                        <h3 class="alert-heading">وضعیت : @(Model.SubmitedState == "Accepted" ? "تایید شده" : Model.SubmitedState == "Seen" ? "رویت شده" : Model.SubmitedState == "Sent" ? "ارسال شده" : Model.SubmitedState == "Reject" ? "مردود" : "در حال بررسی")</h3>
                        <p>@Model.AdminDescription</p>
                    </div>
                    <div class="row">
                        <div class="col-md-12 col-sm-12">
                            <div class="slick-gallery-slideshow" dir="rtl">
                                <div class="slider gallery-slideshow gallery-slideshow-not-tab">
                                    <div>
                                        <div class="image"><img style="height:400px;" src="@(!string.IsNullOrEmpty(Model.Image) ? ViewBag.PrePath + Model.Image : @TempData["WebsiteThemePath"]+"DefaultContent/Imgs/No_Image.png")" alt="image" /></div>
                                    </div>
                                </div>
                                <div class="slider gallery-nav gallery-nav-not-tab">
                                    <div>
                                        <div class="image"><img src="@(!string.IsNullOrEmpty(Model.Image) ? ViewBag.PrePath + Model.Image : @TempData["WebsiteThemePath"]+ "DefaultContent/Imgs/No_Image.png")" alt="image" /></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div style="padding:10px;margin:20px 0;border-bottom: 2px solid #6bc242;border-top: 2px solid #6bc242;" class="col-md-12 col-sm-12">
                        <div class="form-group">
                            <label>دسته بندی : </label>
                            @Html.DisplayFor(model => model.Menu.Name)
                        </div>
                        <div class="form-group">
                            <label>نام محصول : </label>
                            @Html.DisplayFor(model => model.Name)
                        </div>
                        <div class="form-group">
                            <label>توضیحات محصول : </label>
                            @Html.Raw(Model.Description)
                        </div>
                    </div>
                    <div id="AjaxResult">
                        @if (Model.Menu != null)
                        {
                            @FormGenerator(Model.Menu.AttributeGroup.Where(u => u.F_AttributeGroupID == null), 0)
                        }
                        @helper FormGenerator(IEnumerable<ClientWeb.Models.DataModels.AttributeGroupNew> AttributeGroups, int count)
                        {
foreach (var item in AttributeGroups)
{
    var temp = item.AttributeGroup1;
        <div style="margin-right:@(count*50)px;">
            <div class="col-md-12 col-sm-12" style="margin-bottom: -40px;margin-top:-30px;">
                <div class="ad-detail-heading">
                    <h4>@item.Name</h4>
                </div>
            </div>
            @foreach (var attribute in item.Attribute)
        {
                @Attr_AttrItem(attribute, 0, false)
            }
        </div>
    if (temp.Count() > 0)
    {
            @FormGenerator(temp, count + 1)
    }
}
}
                        @helper Attr_AttrItem(ClientWeb.Models.DataModels.AttributeNew attribute, int count2, bool flag, string IDName = "", string ClassName = "")
                        {
var PipoValue = attribute.AttributeValue.Count > 0 ? attribute.AttributeValue[0].Value : null;
    <div class="col-md-12 col-sm-12" style="margin-bottom:10px;">
        <div style="margin-right:@(50 * count2)px" class="form-group">
            <label class="col-sm-4 col-form-label">@attribute.Name</label>
            <div class="col-sm-8">
                <span>@PipoValue</span>
            </div>
        </div>
        @foreach (var item in attribute.AttributeItem1)
        {
            foreach (var attr in item.Attribute)
            {
                if (attr.AttributeValue.Count>0)
                {
                    @Attr_AttrItem(attr, count2 + 1, true, "Attr_" + item.ID, "ParentAttr_" + attribute.ID)
                }
            }
        }
    </div>
}

                    </div>
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="form-group form-action">
                            <a href="@Url.Action("PutItem","Item",new {ID=Model.ID,lang=ViewBag.lang,Type=ViewBag.Type,profile=TempData["UserName"] })" class="btn btn-default btn-search-submit pull-right flip">ویرایش </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<script type="text/javascript" src="@TempData["WebsiteThemePath"]rtl/js/slick.min.js"></script>
<script>
    $('.gallery-slideshow-not-tab').slick({
        slidesToShow: 1,
        slidesToScroll: -1,
        speed: 500,
        arrows: true,
        fade: true,
        rtl: true,
        asNavFor: '.gallery-nav-not-tab',
        adaptiveHeight: true,
    });
    $('.gallery-nav-not-tab').slick({
        slidesToShow: 5,
        slidesToScroll: 1,
        speed: 500,
        asNavFor: '.gallery-slideshow-not-tab',
        dots: false,
        centerMode: true,
        rtl: true,
        focusOnSelect: true,
        infinite: true,
        responsive: [{
            breakpoint: 1199,
            settings: {
                slidesToShow: 5,
            }
        }, {
            breakpoint: 991,
            settings: {
                slidesToShow: 4,
            }
        }, {
            breakpoint: 767,
            settings: {
                slidesToShow: 3,
            }
        }, {
            breakpoint: 480,
            settings: {
                slidesToShow: 2,
            }
        }]
    });
</script>
