@model ClientWeb.Models.DataModels.ItemNew
@{TempData["FormCounter"] = 0; }
<style>
    .toggle-handle {
        background-color: #f3f3f3;
    }

        .toggle-handle:hover {
            background-color: #f3f3f3;
        }

    .toggle-off {
        text-shadow: none;
        background-color: #f3f3f3;
    }

    .PipoHidden {
        display: none !important;
    }

    .PipoShow {
        display: block !important;
    }
</style>
@section js_Requested{
    <script>
        function PipoFunc(TargetIDName, ClassName) {
            var els = document.getElementsByClassName("ParentAttr_" + ClassName);
            Array.prototype.forEach.call(els, function (el) { el.classList.add('PipoHidden'); el.classList.remove('PipoShow'); });
            var item = document.getElementById('Attr_' + TargetIDName);
            if (item.classList.contains('PipoShow')) {
                item.classList.remove('PipoShow');
                item.classList.add('PipoHidden');
            }
            else {
                item.classList.remove('PipoHidden');
                item.classList.add('PipoShow');
            }
        }
        function PipoRemove(ClassName) {
            var els = document.getElementsByClassName("ParentAttr_" + ClassName);
            Array.prototype.forEach.call(els, function (el) { el.classList.add('PipoHidden'); el.classList.remove('PipoShow'); });
        }
        $(':checkbox').each(function () {
            this.click();
            this.click();
        });
        function CheckBoxFixer(Status, IDName, Value1, Value2) {
            var temp = document.getElementById(IDName);
            if (Status == false)
                temp.setAttribute("value", Value1);
            else
                temp.setAttribute("value", Value2);
        }
        $('.PipoRadio').each(function () {
            if (this.checked) {
                this.click();
            }
        });
    </script>
}


<div class="columns-container">
    <div class="container" id="columns">
        <!-- row -->
        <div class="row">
            <!-- Center colunm-->
            <div class="center_column col-xs-12 col-sm-12" id="center_column">
                <h2 class="page-heading" style="margin-bottom: 20px;margin-top: 7px;">
                    افزودن کالای جدید
                </h2>
                <div class="dashboard-main-disc">
                    <div class="heading-inner">
                        <p class="title">ویرایش آیتم مورد نظر</p>
                    </div>
                    <div class="row">
                        @using (Html.BeginForm("PutItem", "Item", null, FormMethod.Post, new { enctype = "multipart/form-data" }))
                        {
                            @Html.HiddenFor(model => model.ID)
                            @Html.Hidden("lang", ViewBag.lang as string)
                            @Html.Hidden("Type", ViewBag.Type as string)
                            @Html.AntiForgeryToken()
                            <div class="col-md-4 col-sm-12">
                                <div class="form-group">
                                    <label>دسته بندی<span class="required">*</span></label>
                                    @Html.DropDownListFor(model => model.F_MenuID, ViewBag.Categories as SelectList, new { id = "Categories", @class = "select-general form-control select2-hidden-accessible" })
                                </div>
                                <div class="form-group">
                                    @Html.TextBoxFor(model => model.Name, new { @class = "form-control", placeholder = "عنوان آیتم را وارد کنید" })
                                </div>
                            </div>
                            <div class="col-md-8 col-sm-12">
                                <div class="form-group">
                                    @Html.TextAreaFor(model => model.Description, new { @class = "form-control", placeholder = "توضیحات آیتم مورد نظر را وارد کنید", rows = "6" })
                                </div>
                            </div>
                            <div class="col-md-12 col-sm-12">
                                <div class="form-group">
                                    <label>آپلود تصویر<span class="required"></span></label>
                                    <input class="form-control" type="file" name="Image" />
                                </div>
                            </div>
                            <div class="col-md-12 col-sm-12">
                                <div id="Form_Loading" style="display: none;margin-right: 45%;padding-bottom: 20px;">
                                    <img src="~/Content/DefaultContent/Imgs/ajax-load.gif" class="img-responsive" width="60" />
                                </div>
                            </div>
                            <div id="AjaxResult">
                                @if (Model.Menu != null)
                                {
                                    @FormGenerator(Model.Menu.AttributeGroup.Where(u => u.F_AttributeGroupID == null), 0)
                                }
                                @helper FormGenerator(IEnumerable<ClientWeb.Models.DataModels.AttributeGroupNew> AttributeGroups, int count)
                                {
foreach (var item in AttributeGroups)
{
    var temp = item.AttributeGroup1;
                <div style="margin-right:@(count*50)px;">
                    <div class="col-md-12 col-sm-12" style="margin-bottom: -40px;margin-top:-30px;">
                        <div class="ad-detail-heading">
                            <h4>@item.Name</h4>
                        </div>
                    </div>
                    @foreach (var attribute in item.Attribute)
        {
                        @Attr_AttrItem(attribute, 0, false)
                    }
                </div>
    if (temp.Count() > 0)
    {
                @FormGenerator(temp, count + 1)
    }
}
}
                                @helper Attr_AttrItem(ClientWeb.Models.DataModels.AttributeNew attribute, int count2, bool flag, string IDName = "", string ClassName = "")
                                {
var PipoValue = attribute.AttributeValue.Count > 0 ? attribute.AttributeValue[0].Value : null;
                <div id="@IDName" class="col-md-12 @ClassName @(flag ? "PipoHidden" : "PipoShow") col-sm-12" style="margin-bottom:10px;">
                    <div style="margin-right:@(50 * count2)px" class="form-group @(attribute.ComponentType == "CheckBox" ? "toggle-btn" : "")">
                        <label class="col-sm-2 col-form-label">@attribute.Name</label>
                        <div class="col-sm-10">
                            @if (attribute.ComponentType == "TextBox" || attribute.ComponentType == "Number" || attribute.ComponentType == "DateTime")
                            {
                                <input value="@PipoValue" type="@(attribute.ComponentType == "TextBox" ? "text" : attribute.ComponentType == "Number" ? "number" : "date")" class="form-control" title="" name="Attributes[@TempData["FormCounter"]].Value" placeholder="@attribute.Name را وارد کنید">
                            }
                            else if (attribute.ComponentType == "RichTextBox")
                            {
                                <textarea value="@PipoValue" class="form-control" title="" name="Attributes[@TempData["FormCounter"]].Value" placeholder="@attribute.Name را وارد کنید" rows="5">@PipoValue</textarea>
                            }
                            else if (attribute.ComponentType == "CheckBox2")
                            {
                                var AtHelper = attribute.AttributeItem1;
                                if (AtHelper.Count > 1)
                                {
                                    <div style="margin-bottom:10px;">
                                        <input value="@PipoValue" data-toggle="toggle" name="Attributes[@TempData["FormCounter"]].Value" data-on="@AtHelper[0].Name" data-style="slow android" data-onstyle="info" data-off="@AtHelper[1].Name" type="checkbox" onchange="if($(this).is(':checked')){@(AtHelper[0].Attribute.Count > 0 ? flag ? "PipoFunc(" + IDName + "," + ClassName + ")" : "PipoFunc(" + AtHelper[0].ID + "," + attribute.ID + ")" : "PipoRemove(" + (flag == true ? ClassName : attribute.ID + "") + ")")}else{@(AtHelper[1].Attribute.Count > 0 ? flag ? "PipoFunc(" + IDName + "," + ClassName + ")" : "PipoFunc(" + AtHelper[1].ID + "," + attribute.ID + ")" : "PipoRemove(" + (flag == true ? ClassName : attribute.ID + "") + ")")}">
                                    </div>
                                }
                            }
                            else if (attribute.ComponentType == "CheckBox")
                            {
                                var AtHelper = attribute.AttributeItem1;
                                if (AtHelper.Count > 1)
                                {
                                    <div class="checkbox">
                                        <label>
                                            <input @(PipoValue == AtHelper[1].Name ? "checked" : "") onchange="CheckBoxFixer($(this).is(':checked'),'hidden_@attribute.ID','@AtHelper[0].Name','@AtHelper[1].Name')" type="checkbox" onclick="if($(this).is(':checked')){@(AtHelper[0].Attribute.Count > 0 ? flag ? "PipoFunc(" + IDName + "," + ClassName + ")" : "PipoFunc(" + AtHelper[0].ID + "," + attribute.ID + ")" : "PipoRemove(" + (flag == true ? ClassName : attribute.ID + "") + ")")}else{@(AtHelper[1].Attribute.Count > 0 ? flag ? "PipoFunc(" + IDName + "," + ClassName + ")" : "PipoFunc(" + AtHelper[1].ID + "," + attribute.ID + ")" : "PipoRemove(" + (flag == true ? ClassName : attribute.ID + "") + ")")}">
                                            <span class="cr"><i class="cr-icon fa fa-check"></i></span>
                                            <input value="@PipoValue" hidden name="Attributes[@TempData["FormCounter"]].Value" id="hidden_@attribute.ID" />
                                        </label>
                                    </div>
                                }
                            }
                            else if (attribute.ComponentType == "ComboBox")
                            {
                                <select value="@PipoValue" name="Attributes[@TempData["FormCounter"]].Value" class="select-general form-control">
                                    @foreach (var AtItem in attribute.AttributeItem1)
                                    {
                                        <option @(PipoValue == AtItem.Name ? "selected" : "") onchange="@(AtItem.Attribute.Count > 0 ? flag ? "PipoFunc(" + IDName + "," + ClassName + ")" : "PipoFunc(" + AtItem.ID + "," + attribute.ID + ")" : "PipoRemove(" + (flag == true ? ClassName : attribute.ID + "") + ")")">@AtItem.Name</option>
                                    }
                                </select>
                            }
                            else if (attribute.ComponentType == "RadioButton")
                            {
                                foreach (var AtItem in attribute.AttributeItem1)
                                {
                                    <div class="radio" style="float:right;margin-top:0;">
                                        <label>
                                            <input class="PipoRadio" onclick="@(AtItem.Attribute.Count > 0 ? flag ? "PipoFunc(" + IDName + "," + ClassName + ")" : "PipoFunc(" + AtItem.ID + "," + attribute.ID + ")" : "PipoRemove(" + (flag == true ? ClassName : attribute.ID + "") + ")")" type="radio" name="Attributes[@TempData["FormCounter"]].Value" @(AtItem.Name == PipoValue ? "checked" : "") value="@AtItem.Name">
                                            <span class="cr"><i class="cr-icon fa fa-circle"></i></span>
                                            @AtItem.Name
                                        </label>
                                    </div>
                                }
                            }
                            @Html.Hidden("Attributes[" + TempData["FormCounter"] + "].F_AttributeItemID", attribute.F_AttributeItemID)
                            @Html.Hidden("Attributes[" + TempData["FormCounter"] + "].F_AttributeID", attribute.ID)
                            @{TempData["FormCounter"] = int.Parse(TempData["FormCounter"].ToString()) + 1;}
                        </div>
                    </div>
                    @foreach (var item in attribute.AttributeItem1)
                    {
                        foreach (var attr in item.Attribute)
                        {
                            @Attr_AttrItem(attr, count2 + 1, true, "Attr_" + item.ID, "ParentAttr_" + attribute.ID)
                        }
                    }
                </div>
}

                            </div>
                            <div class="col-md-12 col-sm-12 col-xs-12">
                                <div class="form-group form-action">
                                    <button type="submit" class="btn btn-default btn-search-submit pull-right flip">ویرایش اطلاعات</button>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
            <!-- ./ Center colunm -->
        </div>
        <!-- ./row-->
    </div>
</div>