@model PagedList.IPagedList<ClientWeb.Models.DataModels.GalleryModelAdmin>
@using PagedList.Mvc;
<section class="page-header dark page-header-xs">
    <div class="container">
        <h1>گالری</h1>
        <ul class="page-header-tabs list-inline" style="text-align: center;">
            @foreach (var item in ViewBag.Folders as List<string>)
            {
                <li @(item == ViewBag.FolderName ? "class=active" : "")><a href="@Url.Action("GalleryItems", "Gallery", new { FolderName=item , profile = TempData["UserName"] })">@item</a></li>
            }
        </ul>
    </div>
</section>
<section>
    <div class="container" style="width:95%;">
        <div class="row">
            <div id="portfolio" class="portfolio-nogutter">
                <div class="row mix-grid">
                    @foreach (var item in Model)
                    {
                        <div class="col-md-3 col-sm-3 mix-filter">
                            <div class="item-box">
                                <figure>
                                    <span class="item-hover">
                                        <span class="overlay dark-5"></span>
                                        <span class="inner">
                                            <a class="ico-rounded lightbox" href="@ViewBag.PrePath@item.Path" data-plugin-options='{"type":"image"}'>
                                                <span class="fa fa-plus size-20"></span>
                                            </a>
                                        </span>
                                    </span>
                                    <img class="img-responsive " src="@ViewBag.PrePath@item.Path" style="height: 210px;" width="600" height="399" alt="">
                                </figure>
                                <div class="item-box-desc">
                                    <h3 class="text-center">@item.Text</h3>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>

        </div>
    </div>
</section>
<section class="page-header page-header-xs">
    <div class="container text-center">
        <ul class="pagination pagination-lg pagination-simple">
            @Html.PagedListPager(Model, page => Url.Action("GalleryItems", "Gallery", new { page, FolderName = ViewBag.FolderName, profile = ViewBag.Profile, }))
        </ul>
    </div>
</section>

