@model PagedList.IPagedList<ClientWeb.Models.DataModels.PostDataModel>
@using PagedList.Mvc;
@using ClientWeb.Models.BLL;
@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/jqueryajax")
<div class="columns-container">
    <div class="container" id="columns">
        <!-- row -->
        <div class="row">
            <!-- Left colunm -->
            <div class="column col-xs-12 col-sm-3" id="left_column">
                <!-- Banner -->
                <!-- Poll -->
                @Html.Action("PollQuestion", "Poll", new { profile = ViewBag.profile })
                <!-- ./Poll -->
                <!-- Poll -->
                @Html.Action("RuzPic", "Utility", new { profile = ViewBag.profile })
                <!-- ./Poll -->
            </div>
            <!-- ./left colunm -->
            <!-- Center colunm-->
            <div class="center_column col-xs-12 col-sm-9" id="center_column">
                <h2 class="page-heading" style="border-bottom:none;">
                    <ol class="breadcrumb pull-right flip" style="direction:ltr;">
                        <li><a href="#">لیست پست های مربوط به برچسب مورد نظر</a></li>
                    </ol>
                </h2>
                <ul class="blog-posts">
                    @foreach (var item in Model)
                    {
                        <li class="post-item">
                            <article class="entry">
                                <div class="row">
                                    <div class="col-sm-5">
                                        <div class="entry-thumb @*image-hover2*@">
                                            <a href="#">
                                                <img src="@(!string.IsNullOrEmpty(item.ImagePath) ? ViewBag.PrePath + item.ImagePath : "/Content/DefaultContent/Imgs/No_Image.png")" alt="@item.ImageAlt">
                                            </a>
                                        </div>
                                    </div>
                                    <div class="col-sm-7">
                                        <div class="entry-ci">
                                            <h3 class="entry-title"><a href="#">@item.Tittle</a></h3>
                                            <div class="entry-meta-data">
                                                <span class="author">
                                                    <i class="fa fa-user"></i>
                                                    نوشته شده توسط: <a href="#">ادمین</a>
                                                </span>
                                                <span class="comment-count">
                                                    <i class="fa fa-comment-o"></i> @item.NumberOfComments
                                                </span>
                                                <span class="comment-count">
                                                    <i class="fa fa-thumbs-o-up"></i> @item.NumberOfLikes
                                                </span>
                                                <span class="comment-count">
                                                    <i class="fa fa-thumbs-o-down"></i> @item.NumberOfDislikes
                                                </span>
                                                <span class="date"><i class="fa fa-calendar"></i>@ClientWeb.Models.BLL.Tools.GetDateTimeReturnJalaliDate(item.CreatedOnUTC ?? default(DateTime))</span>
                                            </div>
                                            <div class="entry-excerpt">
                                                @item.Description
                                            </div>
                                            <div class="entry-more">
                                                <a href="@Url.Action("PostDetail","Post", new {profile=TempData["UserName"], lang = item.Language, id = item.ID })">اطلاعات بیشتر</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </article>
                        </li>
                    }
                </ul>
                <div class="sortPagiBar clearfix">
                    <div class="bottom-pagination" style="text-align:center;direction:ltr!important;float: right;">
                        صفحه @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) از @Model.PageCount
                        @Html.PagedListPager(Model, page => Url.Action("Listpost", "Post", new
                   {
                       page,
                       PageSize = ViewBag.PageSize,
                       Type = ViewBag.Type,
                       FromDate = ViewBag.FromDate,
                       ToDate = ViewBag.ToDate,

                       SearchText = ViewBag.SearchText,
                       profile = ViewBag.profile,
                       lang = ViewBag.lang,
                       id = ViewBag.id,

                   }))
                    </div>
                </div>
            </div>
            <!-- ./ Center colunm -->
        </div>
        <!-- ./row-->
    </div>
</div>
