@model ClientWeb.Models.DataModels.ShopPagedList
@using ClientWeb.Models.BLL
@using ClientWeb.Models.DataModels
@{
    ViewBag.CurrentState = "OrderedList";
    int count = 0;
}
<div class="columns-container">
    <div class="container" id="columns">
        <!-- row -->
        <div class="row">
            <!-- Center colunm-->
            <div class="center_column col-xs-12 col-sm-12" id="center_column">
                <div class="column col-xs-12 col-sm-12">
                    <div class="block left-module" style="font-family: 'Vazir FD',Arial,sans-serif;">
                        <div class="block_content">
                            <!-- layered -->
                            <div class="layered">
                                <div class="layered-content">
                                    <table class="table table-bordered table-responsive cart_summary" style="width:90%;margin:0 auto;">
                                        <thead>
                                            <tr>
                                                <th>شماره سفارش</th>
                                                <th style="text-align:center;">تاریخ ثبت سفارش</th>
                                                <th style="text-align:center;">مبلغ کل</th>
                                                <th style="text-align:center;">عملیات پرداخت</th>
                                                <th style="text-align:center;">جزئیات</th>
                                            </tr>
                                        </thead>
                                        <tbody>

                                            @foreach (var item in Model.ShopList)
                                            {
                                                <tr>
                                                    <td class="cart_description" style="width: 10%;text-align: center;">
                                                        <span>@TempData["UserName"]_@item.ID</span>
                                                    </td>
                                                    <td class="cart_description" style="width: 30%;text-align: center;">
                                                        <span>@Tools.SpecialJalaliFormat(item.OrderedDate??default(DateTime))</span>
                                                    </td>
                                                    <td class="price" style="text-align:center;width: 30%;"><span>@Tools.PriceString(item.TotalPrice)@(string.IsNullOrEmpty(item.DeliveryCost)?"":"+")@Tools.PriceString(item.DeliveryCost) تومان</span></td>
                                                    <td class="qty" style="text-align:center;width: 20%;">
                                                        @{ 
                                                            string PayState = item.Payed == true ? "پرداخت موفق" : "پرداخت نشده";
                                                        }
                                                        <span class="form-control input-sm">@PayState</span>
                                                    </td>
                                                    <td class="cart_description" style="text-align:center;width: 10%;">
                                                        <a href="@Url.Action("OrdereDetail","ShoppingCart",new {ShopID=item.ID,profile=TempData["UserName"],lang=TempData["lang"] })">مشاهده</a>
                                                    </td>
                                                </tr>
                                            }
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <!-- ./layered -->
                        </div>
                    </div>
                </div>
            </div>
            <!-- ./ Center colunm -->
        </div>
        <!-- ./row-->
    </div>
</div>
