@model ClientWeb.Models.DataModels.ChangePasswordBindingModel
@using PagedList.Mvc;
@{
    ViewBag.CurrentState = "ChangePassword";
}
<div class="columns-container">
    <div class="container" id="columns">
        <!-- row -->
        <div class="row">
            <!-- Center colunm-->
            <div class="center_column col-xs-12 col-sm-9" id="center_column">
                <h2 class="page-heading" style="margin-bottom: 20px;margin-top: 7px;">
                    ویرایش کلمه عبور 
                </h2>
                <div class="box-authentication">
                    @using (Html.BeginForm("ChangePassword", "Account", null, FormMethod.Post, null))
                    {
                        @Html.AntiForgeryToken()
                        <div class="login-box-inner">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="fa fa-key"></i></span>
                                @Html.TextBoxFor(model => model.OldPassword, new { @class = "form-control", type = "password", placeholder = "کلمه عبور فعلی را وارد کنید" })
                            </div>
                            <div class="input-group" style="margin-top:20px;">
                                <span class="input-group-addon"><i class="fa fa-lock"></i></span>
                                @Html.TextBoxFor(model => model.NewPassword, new { @class = "form-control", type = "password", placeholder = "کلمه عبور جدید را وارد کنید" })
                            </div>
                            <div class="input-group" style="margin-top:20px;">
                                <span class="input-group-addon"><i class="fa fa-lock"></i></span>
                                @Html.TextBoxFor(model => model.ConfirmPassword, new { @class = "form-control", type = "password", placeholder = "مجددا کلمه عبور جدید را وارد کنید" })
                            </div>
                            <div class="row">
                                <div class="col-xs-12">
                                    @if (ViewBag.Alert != null)
                                    {
                                        <div style="padding: 10px 10px;margin-top: 20px;" class="alert alert-@(ViewBag.Alert.Split(',')[1])" role="alert">
                                            <p>@(ViewBag.Alert.Split(',')[0])</p>
                                        </div>
                                    }
                                    <button style="margin-top:20px;background-color: #2a3259;" type="submit" class="btn btn-info col-xs-12">ویرایش رمز</button>
                                </div>
                            </div>
                        </div>
                    }
                </div>

            </div>
            <!-- ./ Center colunm -->
            <!-- Left colunm -->
            <div class="column col-xs-12 col-sm-3" id="left_column">
                @Html.Action("UserIntroduction", "Utility")
            </div>
            <!-- ./left colunm -->
        </div>
        <!-- ./row-->
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function () {
        //Dropdownlist Selectedchange event
        $("#State").change(function () {
            $("#City").empty();
            $.ajax({
                type: 'POST',
                url: '@Url.Action("GetCity", "Utility")',
                dataType: 'json',
                data: { id: $("#State").val() },
                success: function (states) {
                    $.each(states, function (i, state) {
                        $("#City").append('<option value="' + state.Value + '">' + state.Text + '</option>');
                    });
                    $("#City").trigger('change');
                },
                error: function (ex) {
                    alert('خطا در بارگذاری اطلاعات شهر' + ex);
                }
            });
            return false;
        });
    });
</script>