@model ClientWeb.Models.DataModels.ItemNew
@using PagedList.Mvc;
@using ClientWeb.Models.BLL;
<div class="columns-container">
    <div class="container" id="columns">
        <div class="row">
            <div class="center_column col-xs-12 col-sm-12" id="center_column">
                @if (!string.IsNullOrEmpty(Model.Name))
                {
                    ItemManagement imm = new ItemManagement();
                    var UserInf = System.Threading.Tasks.Task.Run(() => imm.UserDetailItemByType("UserRegister", Model.F_UserID)).Result;
                    var NaameSherkat = UserInf.Menu.AttributeGroup.FirstOrDefault(u => u.ID == 60).Attribute.FirstOrDefault(u => u.ID == 143).AttributeValue.FirstOrDefault(); var tempak = UserInf.Menu.AttributeGroup.FirstOrDefault(u => u.ID == 59);
                    var tempak1 = tempak.Attribute.FirstOrDefault(u => u.ID == 133).AttributeValue.FirstOrDefault();
                    var tempak2 = tempak.Attribute.FirstOrDefault(u => u.ID == 134).AttributeValue.FirstOrDefault();
                    var tempak3 = tempak.Attribute.FirstOrDefault(u => u.ID == 135).AttributeValue.FirstOrDefault();
                    var Makan = (tempak1 != null ? tempak1.Value : "") + " ، " + (tempak2 != null ? tempak2.Value : "") + " ، " + (tempak3 != null ? tempak3.Value : "");
                    var MinimumOrder = UserInf.Menu.AttributeGroup.FirstOrDefault(u => u.ID == 63).Attribute.FirstOrDefault(u => u.ID == 159).AttributeValue.FirstOrDefault();
                    var PayConditions = UserInf.Menu.AttributeGroup.FirstOrDefault(u => u.ID == 63).Attribute.FirstOrDefault(u => u.ID == 162).AttributeValue.FirstOrDefault();
                    var OutPutRate = UserInf.Menu.AttributeGroup.FirstOrDefault(u => u.ID == 63).Attribute.FirstOrDefault(u => u.ID == 158).AttributeValue.FirstOrDefault();
                <!-- Product -->
                    <div id="product">
                        <div class="primary-box row">
                            <div class="pb-left-column col-xs-12 col-sm-4">
                                <!-- product-imge-->
                                <div class="product-image">
                                    <div class="product-full">
                                        <img id="product-zoom" style="width: 100%;height: 300px;" src='@(!string.IsNullOrEmpty(Model.Image) ? ViewBag.PrePath + Model.Image : "/Content/DefaultContent/Imgs/No_Image.png")' data-zoom-image="@(!string.IsNullOrEmpty(Model.Image) ? ViewBag.PrePath + Model.Image : "/Content/DefaultContent/Imgs/No_Image.png")" />
                                    </div>
                                    <div class="product-img-thumb" id="gallery_01">
                                        <ul class="owl-carousel" data-items="3" data-nav="true" data-dots="false" data-margin="20" data-loop="true">
                                            @for (int i = 0; i < 3; i++)
                                            {
                                                <li>
                                                    <a href="#" data-image="@(!string.IsNullOrEmpty(Model.Image) ? ViewBag.PrePath + Model.Image : "/Content/DefaultContent/Imgs/No_Image.png")" data-zoom-image="@(!string.IsNullOrEmpty(Model.Image) ? ViewBag.PrePath + Model.Image : "/Content/DefaultContent/Imgs/No_Image.png")">
                                                        <img id="product-zoom" src="@(!string.IsNullOrEmpty(Model.Image) ? ViewBag.PrePath + Model.Image : "/Content/DefaultContent/Imgs/No_Image.png")" />
                                                    </a>
                                                </li>
                                            }
                                        </ul>
                                    </div>
                                </div>
                                <!-- product-imge-->
                            </div>
                            <div class="pb-right-column col-xs-12 col-sm-8">
                                <h1 class="product-name">@Model.Name</h1>
                                <div class="product-comments">
                                    <div class="product-star">
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                    </div>
                                    <div class="comments-advices">
                                        <a><i class="fa fa-calendar"></i> @Tools.SpecialJalaliFormat(Model.CreatedDateOnUTC ?? default(DateTime))</a>
                                    </div>
                                    <div class="info-orther">
                                        <p>کد کالا : #@Model.ID</p>
                                        <h2 style="font-size:15px;" class="product-name">شرکت :  @(NaameSherkat != null ? NaameSherkat.Value : "")</h2>
                                    </div>
                                </div>
                                <div class="form-action">
                                    <div class="button-group">
                                        <div class="row" style="background-color:#efefef;padding:20px;">
                                            <div class="col-xs-12 col-sm-4">
                                                مکان :
                                            </div>
                                            <div class="col-xs-12 col-sm-8" style="text-align: left;">
                                                @Makan
                                            </div>
                                            <div class="col-xs-12 col-sm-4">
                                                حداقل میزان سفارش :
                                            </div>
                                            <div class="col-xs-12 col-sm-8" style="text-align: left;">
                                                @(MinimumOrder != null ? MinimumOrder.Value : "-")
                                            </div>
                                            <div class="col-xs-12 col-sm-4">
                                               موجودی :
                                            </div>
                                            <div class="col-xs-12 col-sm-8" style="text-align: left;">
                                                @Model.Stock
                                            </div>
                                        </div>
                                        <a style="margin-top:5px;background-color: green;color: white;" class="btn" href="#PriceForm">درخواست قیمت</a>
                                        @if (Model.Stock > 0)
                                        {
                                            <a style="margin-top:5px;" class="btn-add-cart" href="@Url.Action("AddCartItem", "ShoppingCart", new { F_ItemID = Model.ID, profile = TempData["UserName"], lang = TempData["lang"] })">افزودن به سبد خرید</a>
                                        }
                                        else
                                        {
                                            <a style="margin-top:5px;background-color: #929292;color: white;" class="btn">ناموجود</a>
                                        }
                                    </div>
                                </div>
                                <div class="product-desc">
                                    @Model.Description
                                </div>
                                <div class="form-action">
                                    <div class="button-group">
                                        <div class="row" style="width:60%;">
                                            <div class="col-xs-12 col-sm-4">
                                                شرایط پرداخت :
                                            </div>
                                            <div class="col-xs-12 col-sm-8" style="text-align: left;">
                                                @(PayConditions != null ? PayConditions.Value : "")
                                            </div>
                                            <div class="col-xs-12 col-sm-4">
                                                توانایی عرضه :
                                            </div>
                                            <div class="col-xs-12 col-sm-8" style="text-align: left;">
                                                @(OutPutRate != null ? OutPutRate.Value : "")
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-share">
                                    <div class="sendtofriend-print">
                                        <a href="javascript:print();"><i class="fa fa-print" style="margin-left: 5px;"></i>پرینت</a>
                                        <a href="#"><i class="fa fa-envelope-o fa-fw" style="margin-left: 5px;"></i>ذخیره</a>
                                        <a href="#"><i class="fa fa-share-alt" style="margin-left: 5px;"></i>ارسال</a>
                                        <a class="wishlist" href="#">
                                            <i class="fa fa-instagram"></i>
                                        </a>
                                        <a class="compare" href="#">
                                            <i class="fa fa-facebook"></i>
                                        </a>
                                        <a class="compare" href="#">
                                            <i class="fa fa-pinterest"></i>
                                        </a>
                                        <a class="compare" href="#">
                                            <i class="fa fa-whatsapp"></i>
                                        </a>
                                        <a class="compare" href="#">
                                            <i class="fa fa-twitter"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- tab product -->
                        @{
                            ItemManagement im = new ItemManagement();
                            var dd = Tools.MenuParents(Model.Menu.ID);
                            while (dd.Menu2 != null)
                            {
                                dd = dd.Menu2;
                            }
                            var temp = System.Threading.Tasks.Task.Run(() => im.GuestDetailItemsByMenu(TempData["UserName"].ToString(), "", Model.ID, dd.Id)).Result;
                            var Pipo = Model.Menu.AttributeGroup.ToList(); Pipo.AddRange(temp.AttributeGroup);
                        }
                        <div id="AjaxResult">
                            @if (Model.Menu != null)
                            {
                                @FormGenerator(Pipo.Where(u => u.F_AttributeGroupID == null), 0)
                            }
                            @helper FormGenerator(IEnumerable<ClientWeb.Models.DataModels.AttributeGroupNew> AttributeGroups, int count)
                            {

                            <div class="product-tab">
                                <ul class="nav-tab" id="PipoUl">
                                    @foreach (var item in AttributeGroups)
                                    {
                                        <li class="">
                                            <a aria-expanded="false" data-toggle="tab" href="#product-detail_@item.ID">@item.Name</a>
                                        </li>
                                    }
                                </ul>
                                <div class="tab-container" id="PipoTab">
                                    @foreach (var item in AttributeGroups)
                                    {
                                        <div id="product-detail_@item.ID" class="tab-panel">
                                            @foreach (var attribute in item.Attribute)
                                            {
                                                @Attr_AttrItem(attribute, 0, false)
                                            }
                                        </div>
                                    }
                                </div>
                            </div>
}
                            @helper Attr_AttrItem(ClientWeb.Models.DataModels.AttributeNew attribute, int count2, bool flag, string IDName = "", string ClassName = "")
                            {
var PipoValue = attribute.AttributeValue.Count > 0 ? attribute.AttributeValue[0].Value : null;
    <table class="table table-bordered">
        <tbody>
            <tr>
                <td width="200">@attribute.Name</td>
                <td>@PipoValue</td>
            </tr>
            @foreach (var item in attribute.AttributeItem1)
            {
                foreach (var attr in item.Attribute)
                {
                    if (attr.AttributeValue.Count > 0)
                    {
                        @Attr_AttrItem(attr, count2 + 1, true, "Attr_" + item.ID, "ParentAttr_" + attribute.ID)
                    }
                }
            }
        </tbody>
    </table>
}

                        </div>
                        <!-- ./tab product -->
                    </div>
                <!-- Product -->
                            }
                            else
                            {
                                <div style="padding: 10px 10px;width: 100%;text-align: center;" class="alert alert-danger" role="alert">
                                    <h3 class="alert-heading">جزئیات کالای مورد نظر یافت نشد !</h3>
                                </div>
                            }
            </div>
        </div>
    </div>
    <div class="container" id="PriceForm">
        <div class="row">
            @using (Ajax.BeginForm("FormDetailPost", "Item", null, new AjaxOptions
            {
                UpdateTargetId = "PostResult",
                InsertionMode = InsertionMode.Replace,
                LoadingElementId = "LoadingElement",
                HttpMethod = "Post"
            }, new { enctype = "multipart/form-data" }))
            {
                @Html.AntiForgeryToken()
                @Html.Hidden("F_MenuID", Model.Menu.ID)
                <div class="col-md-12 col-sm-12">
                    <div id="Form_Loading" style="display: none;margin-right: 45%;padding-bottom: 20px;">
                        <img src="~/Content/DefaultContent/Imgs/ajax-load.gif" class="img-responsive" width="60" />
                    </div>
                </div>
                <div class="col-md-8 col-sm-12 col-xs-12" style="margin-top: 40px;">
                    <div id="AjaxResult2">
                    </div>
                </div>
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="form-group form-action">
                        <button type="submit" style="background-color:#2a3259;color:white;" class="btn btn-default btn-search-submit pull-right flip">ثبت اطلاعات</button>
                    </div>
                    <div id="LoadingElement" style="display:none;">
                        <img src="@TempData["WebsiteThemePath"]DefaultContent/Imgs/ajax-load.gif" class="img-responsive" width="30" style="margin-top: -15px;margin-right: 20px;float: right;" />
                    </div>
                    <div id="PostResult" style="margin-top: 50px;text-align:center;">

                    </div>
                </div>
            }
        </div>
    </div>
</div>
<script>
    document.getElementById("PipoUl").getElementsByTagName("li")[0].classList.add('active');
    document.getElementById("PipoTab").getElementsByTagName("div")[0].classList.add('active');
</script>
@section js_Requested{
    <script type="text/javascript" src="@TempData["WebsiteThemePath"]assets/lib/jquery.elevatezoom.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            CallAjax();
        });
        function CallAjax() {
            $.ajax({
                type: 'GET',
                url: '@Url.Action("GetFormForUser", "Item")',
                dataType: 'html',
                data: { ID: 389, profile: '@TempData["UserName"]', Type: '@ViewBag.Type', lang: '@ViewBag.lang' },
                beforesend: document.getElementById('Form_Loading').style.display = 'block',
                success: function (Result) {
                    $("#AjaxResult2").empty();
                    $("#AjaxResult2").append(Result);
                    document.getElementById('Form_Loading').style.display = 'none';
                    document.getElementById("PipoTextBox_118").value = '@Model.Name';
                },
                error: function (ex) {
                    alert('خطا در بارگذاری اطلاعات');
                    document.getElementById('Form_Loading').style.display = 'none';
                }
            });
            return false;
        }
    </script>
    <script>
        function PipoFunc(TargetIDName, ClassName) {
            var els = document.getElementsByClassName("ParentAttr_" + ClassName);
            Array.prototype.forEach.call(els, function (el) { el.classList.add('PipoHidden'); el.classList.remove('PipoShow'); });
            var item = document.getElementById('Attr_' + TargetIDName);
            if (item.classList.contains('PipoShow')) {
                item.classList.remove('PipoShow');
                item.classList.add('PipoHidden');
            }
            else {
                item.classList.remove('PipoHidden');
                item.classList.add('PipoShow');
            }
            console.log = console.warn = console.error = () => { };
            console.error('Something bad happened.');
        }
        function PipoRemove(ClassName) {
            var els = document.getElementsByClassName("ParentAttr_" + ClassName);
            Array.prototype.forEach.call(els, function (el) { el.classList.add('PipoHidden'); el.classList.remove('PipoShow'); });
        }
        function CheckBoxFixer(Status, IDName, Value1, Value2) {
            var temp = document.getElementById(IDName);
            if (Status == false)
                temp.setAttribute("value", Value1);
            else
                temp.setAttribute("value", Value2);
        }
    </script>
}
<style>
    .PipoHidden {
        display: none !important;
    }

    .PipoShow {
        display: block !important;
    }
</style>

