@model ClientWeb.Models.DataModels.ItemNew
@{
    ViewBag.CurrentState = "AddOffer";
}
@section js_Requested{
    <script type="text/javascript">
        $(document).ready(function () {
            CallAjax($("#Categories").val());
            $("#Categories").change(function () {
                CallAjax($("#Categories").val());
            });
        });
        function CallAjax(PipoID) {
            $.ajax({
                type: 'GET',
                url: '@Url.Action("GetTopDownForm", "Item")',
                dataType: 'html',
                data: { ID: PipoID, profile: '@TempData["UserName"]', Type: '@ViewBag.Type', lang: '@ViewBag.lang' },
                beforesend: document.getElementById('Form_Loading').style.display = 'block',
                success: function (Result) {
                        $("#AjaxResult").empty();
                    $("#AjaxResult").append(Result);
                    document.getElementById('Form_Loading').style.display = 'none';
                },
                error: function (ex) {
                    alert('خطا در بارگذاری اطلاعات');
                    document.getElementById('Form_Loading').style.display = 'none';
                }
            });
            return false;
        }
    </script>
    <script>
        function PipoFunc(TargetIDName, ClassName) {
            var els = document.getElementsByClassName("ParentAttr_" + ClassName);
            Array.prototype.forEach.call(els, function (el) { el.classList.add('PipoHidden'); el.classList.remove('PipoShow'); });
            var item = document.getElementById('Attr_' + TargetIDName);
            if (item.classList.contains('PipoShow')) {
                item.classList.remove('PipoShow');
                item.classList.add('PipoHidden');
            }
            else {
                item.classList.remove('PipoHidden');
                item.classList.add('PipoShow');
            }
            console.log = console.warn = console.error = () => { };
            console.error('Something bad happened.');
        }
        function PipoRemove(ClassName) {
            var els = document.getElementsByClassName("ParentAttr_" + ClassName);
            Array.prototype.forEach.call(els, function (el) { el.classList.add('PipoHidden'); el.classList.remove('PipoShow'); });
        }
        function CheckBoxFixer(Status, IDName, Value1, Value2) {
            var temp = document.getElementById(IDName);
            if (Status == false)
                temp.setAttribute("value", Value1);
            else
                temp.setAttribute("value", Value2);
        }
    </script>
    @*<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>*@
}
<style>
    .PipoHidden {
        display: none !important;
    }

    .PipoShow {
        display: block !important;
    }
    .select2-container--default .select2-selection--single .select2-selection__rendered{
        line-height:30px;
    }
</style>
<div class="columns-container">
    <div class="container" id="columns">
        <!-- row -->
        <div class="row">
            <!-- Center colunm-->
            <div class="center_column col-xs-12 col-sm-12" id="center_column">
                <h2 class="page-heading" style="margin-bottom: 20px;margin-top: 7px;">
                    افزودن کالای جدید
                </h2>
                <div class="dashboard-main-disc">
                    <div class="row">
                        @using (Html.BeginForm("PostItem", "Item", null, FormMethod.Post, new { enctype = "multipart/form-data" }))
                        {
                            @Html.Hidden("lang", ViewBag.lang as string)
                            @Html.Hidden("Type", ViewBag.Type as string)
                            @Html.AntiForgeryToken()
                            <div class="col-md-4 col-sm-12">
                                <div class="form-group">
                                    <label>دسته بندی<span class="required">*</span></label>
                                    @Html.DropDownListFor(model => model.F_MenuID, ViewBag.Categories as SelectList, new { id = "Categories", @class = "select-category form-control" })
                                </div>
                                <div class="form-group">
                                    @Html.TextBoxFor(model => model.Name, new { @class = "form-control", placeholder = "عنوان آیتم را وارد کنید" })
                                </div>
                            </div>
                            <div class="col-md-8 col-sm-12">
                                <div class="form-group">
                                    @Html.TextAreaFor(model => model.Description, new { @class = "form-control", placeholder = "توضیحات آیتم مورد نظر را وارد کنید", rows = "6" })
                                </div>
                            </div>
                            <div class="col-md-12 col-sm-12">
                                <div class="form-group">
                                    <label>آپلود تصویر<span class="required"></span></label>
                                    <input class="form-control" type="file" name="Image" />
                                </div>
                            </div>
                            <div class="col-md-12 col-sm-12">
                                <div id="Form_Loading" style="display: none;margin-right: 45%;padding-bottom: 20px;">
                                    <img src="~/Content/DefaultContent/Imgs/ajax-load.gif" class="img-responsive" width="60" />
                                </div>
                            </div>
                            <div class="col-md-12 col-sm-12 col-xs-12" style="margin-top: 40px;">
                                <div id="AjaxResult">
                                </div>
                            </div>
                            <div class="col-md-12 col-sm-12 col-xs-12">
                                <div class="form-group form-action">
                                    <button type="submit" style="background-color:#2a3259;color:white;" class="btn btn-default btn-search-submit pull-right flip">ثبت اطلاعات</button>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
            <!-- ./ Center colunm -->
        </div>
        <!-- ./row-->
    </div>
</div>