@model ClientWeb.Models.DataModels.ContactManagementModel
<div class="nav-top-links">
    <a class="first-item" href="#"><img alt="phone" src="@TempData["WebsiteThemePath"]assets/images/phone.png" />@Model.PhoneInput</a>
    <a href="@Model.EmailInput"><img alt="email" src="@TempData["WebsiteThemePath"]assets/images/email.png" />@Model.EmailInput</a>
</div>
@*<div class="language ">
    <div class="dropdown">
        <a class="current-open" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" href="#">
            <img alt="email" src="~/Content/SahibMallContent/assets/images/fr.jpg" />فرانسوی
        </a>
        <ul class="dropdown-menu" role="menu">
            <li><a href="#"><img alt="email" src="~/Content/SahibMallContent/assets/images/en.jpg" />انگلیسی</a></li>
            <li><a href="#"><img alt="email" src="~/Content/SahibMallContent/assets/images/fr.jpg" />French</a></li>
        </ul>
    </div>
</div>*@